# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# If using SQLite3 with a file-based database
*.sqlite3

# Media files
media/

# Static files
staticfiles/
static/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django migrations
*/migrations/*

# Pycharm
.idea/

# VS Code
.vscode/

# MyPy
.mypy_cache/

# Environments
.env
.venv
ENV/
env/
venv/
myenv
# Jupyter Notebook
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio Code
.vscode/
.history/

# pyenv
.python-version
