{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block body %} 

  <div class="container-fluid px-0 mb-3">
        <img src="https://source.unsplash.com/1600x600/?phone,contact" class="d-block w-100 mx-0" alt="..."> 
 </div>
 <div class="container">
        <h1 class="text-center">Contact Us</h1>
      <form method="post" action="/contact">
         {% csrf_token %}
            <div class="mb-3"> 
                <label for="name" class="form-label">NAME</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="YOUR NAME">
            </div>
            <div class="mb-3">
                <label for="E mail address" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email address" name="email" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="phone numder" class="form-label">PHONE NUMBER</label>
                <input type="phone" class="form-control" id="phone" name="phone" placeholder="1234567890">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Tell me why you want to contact me for</label>
                <textarea class="form-control" id="des" rows="3" name="desc"></textarea>
            </div>
          <button class="btn btn-primary" type="submit"> Submit </button>
      </form>
 </div>
{% endblock body %}

